@{ 
    
    ViewBag.Title = "Видео галерея";
}

<div class="col-lg-4 col-lg-offset-4" clear="both">
    <h1>
        Добро пожаловать в галерею фильмов!!!
       
    </h1>
</div>
<div class="col-lg-4 col-lg-offset-4" clear="both">

</div>
<div class="col-lg-4 col-lg-offset-4" clear="both">
    <h3>
        Служба по поиску фильмов (запрос по умолчанию: GodFather):
        @Html.RouteLink(
                                                        @Url.RouteUrl("videoGalleryApiRoute", new { controller = "videoGalleryApi", httproute = "" })
                                                        , new { controller = "videoGalleryApi", HttpRoute = true }
                                                        , "videoGalleryApiRoute"
                                                    )


    </h3>
    <br />
    <h3>Введите строку запроса и получите результат:</h3>
    @using (Html.BeginForm("SubmitQuery", "Home"))
    {
        @Html.TextBox("FilmName");
        <input type="submit" value="Получить фильмы" />


    }
    Проверка детального запроса на фильм (/tt1375666 - начало):
    @Html.RouteLink(
                                                       @Url.RouteUrl("videoGalleryApiDetailRoute", new { controller = "videoGalleryApi",
                                                          ID = "tt1375666", httproute = "" })
                                                       , new { controller = "videoGalleryApi", ID = "tt1375666", HttpRoute = true }
                                                       , "videoGalleryApiDetailRoute"
                                                   )
</div>
